{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}


        <div class="site__body">
            <div class="block-space block-space--layout--after-header"></div>
            <div class="block">
                <div class="container container--max--xl">
                    <form action="" method="post" class="container" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Edit Profile</h5>
                                </div>
                                <div class="card-divider"></div>
                                {{ form|crispy }}
                                <input type="submit" class="btn btn-primary my-2" value="Сохранить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="block-space block-space--layout--before-footer"></div>
        </div>
{% endblock %}